Importing required libraries

In [2]:
import pandas as pd
import tensorflow as tf
import sklearn 
from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import train_test_split
from tensorflow import keras
import xgboost
from xgboost import XGBRegressor

Reading csv files

In [ ]:
data = pd.read_csv("C:\\Users\\Hemanth M\\C\\Python\\Project\\train.csv")
data

,id,traffic_volume,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time
0,0,5977.718652,NaN,334.271282,7.077448,2.175000,40,Clouds,scattered clouds,02-10-2012 09:00
1,1,4868.417932,NaN,335.523582,5.055320,7.612501,75,Clouds,broken clouds,02-10-2012 10:00
2,2,5139.005377,NaN,335.778680,8.088512,3.262500,90,Clouds,overcast clouds,02-10-2012 11:00
3,3,5418.217122,NaN,336.416425,6.066384,8.700001,90,Clouds,overcast clouds,02-10-2012 12:00
4,4,5301.789059,NaN,337.587557,5.055320,13.050001,75,Clouds,broken clouds,02-10-2012 13:00
...,...,...,...,...,...,...,...,...,...,...
28918,28918,1094.208193,NaN,307.520767,8.088512,4.350000,90,Haze,haze,08-12-2016 04:00
28919,28919,3056.236678,NaN,307.833842,2.022128,0.000000,75,Snow,light snow,08-12-2016 05:00
28920,28920,5961.548087,NaN,307.996177,6.066384,4.350000,1,Snow,light snow,08-12-2016 06:00
28921,28921,6594.356175,NaN,308.297656,3.033192,4.350000,1,Mist,mist,08-12-2016 07:00
28922,28922,6594.356175,NaN,308.297656,3.033192,8.700001,1,Snow,light snow,08-12-2016 07:00

In [ ]:
vdata = pd.read_csv("C:\\Users\\Hemanth M\\C\\Python\\Project\\test.csv")
vdata

,id,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time
0,28923,NaN,308.529564,2.022128,9.787501,40,Snow,light snow,08-12-2016 08:00
1,28924,NaN,308.900616,2.022128,9.787501,40,Snow,light snow,08-12-2016 09:00
2,28925,NaN,310.199297,3.033192,9.787501,75,Snow,light snow,08-12-2016 10:00
3,28926,NaN,311.161712,5.055320,8.700001,90,Snow,light snow,08-12-2016 11:00
4,28927,NaN,311.509574,1.011064,5.437500,90,Snow,light snow,08-12-2016 12:00
...,...,...,...,...,...,...,...,...,...
19276,48199,NaN,328.670719,8.088512,5.437500,75,Clouds,broken clouds,30-09-2018 19:00
19277,48200,NaN,327.870638,9.099576,1.087500,90,Clouds,overcast clouds,30-09-2018 20:00
19278,48201,NaN,327.835852,2.022128,11.962501,90,Thunderstorm,proximity thunderstorm,30-09-2018 21:00
19279,48202,NaN,327.093749,9.099576,13.050001,90,Clouds,overcast clouds,30-09-2018 22:00
19280,48203,NaN,327.128535,4.044256,2.175000,90,Clouds,overcast clouds,30-09-2018 23:00

To check holidays and add a new column to check if it was a holiday or not

In [ ]:
data["holiday"].unique() # checking all the unique days

train = data
train.holiday = train.holiday.fillna('nan')
isHoliday = []
train['holiday'] = train['holiday'].astype('string')

for col in train.holiday:
    if col == 'nan':
        isHoliday.append(0)
    else:
        isHoliday.append(1)

train['isHoliday'] = isHoliday
train.head()

,id,traffic_volume,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,isHoliday
0,0,5977.718652,nan,334.271282,7.077448,2.175000,40,Clouds,scattered clouds,02-10-2012 09:00,0
1,1,4868.417932,nan,335.523582,5.055320,7.612501,75,Clouds,broken clouds,02-10-2012 10:00,0
2,2,5139.005377,nan,335.778680,8.088512,3.262500,90,Clouds,overcast clouds,02-10-2012 11:00,0
3,3,5418.217122,nan,336.416425,6.066384,8.700001,90,Clouds,overcast clouds,02-10-2012 12:00,0
4,4,5301.789059,nan,337.587557,5.055320,13.050001,75,Clouds,broken clouds,02-10-2012 13:00,0

In [ ]:
valid = vdata.copy()
valid.holiday = valid.holiday.fillna('nan')
isHoliday = []
valid['holiday'] = valid['holiday'].astype('string')

for col in valid.holiday:
    if col == 'nan':
        isHoliday.append(0)
    else:
        isHoliday.append(1)

valid['isHoliday'] = isHoliday
valid.head()

,id,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,isHoliday
0,28923,nan,308.529564,2.022128,9.787501,40,Snow,light snow,08-12-2016 08:00,0
1,28924,nan,308.900616,2.022128,9.787501,40,Snow,light snow,08-12-2016 09:00,0
2,28925,nan,310.199297,3.033192,9.787501,75,Snow,light snow,08-12-2016 10:00,0
3,28926,nan,311.161712,5.055320,8.700001,90,Snow,light snow,08-12-2016 11:00,0
4,28927,nan,311.509574,1.011064,5.437500,90,Snow,light snow,08-12-2016 12:00,0

Ordinal encoding the weather_main column

In [ ]:
oe = OrdinalEncoder()
train['weather_main'] = oe.fit_transform(train[['weather_main']])
train.head()

,id,traffic_volume,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,isHoliday
0,0,5977.718652,nan,334.271282,7.077448,2.175000,40,1.0,scattered clouds,02-10-2012 09:00,0
1,1,4868.417932,nan,335.523582,5.055320,7.612501,75,1.0,broken clouds,02-10-2012 10:00,0
2,2,5139.005377,nan,335.778680,8.088512,3.262500,90,1.0,overcast clouds,02-10-2012 11:00,0
3,3,5418.217122,nan,336.416425,6.066384,8.700001,90,1.0,overcast clouds,02-10-2012 12:00,0
4,4,5301.789059,nan,337.587557,5.055320,13.050001,75,1.0,broken clouds,02-10-2012 13:00,0

In [ ]:
valid['weather_main'] = oe.transform(valid[['weather_main']])
valid.head()

,id,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,isHoliday
0,28923,nan,308.529564,2.022128,9.787501,40,8.0,light snow,08-12-2016 08:00,0
1,28924,nan,308.900616,2.022128,9.787501,40,8.0,light snow,08-12-2016 09:00,0
2,28925,nan,310.199297,3.033192,9.787501,75,8.0,light snow,08-12-2016 10:00,0
3,28926,nan,311.161712,5.055320,8.700001,90,8.0,light snow,08-12-2016 11:00,0
4,28927,nan,311.509574,1.011064,5.437500,90,8.0,light snow,08-12-2016 12:00,0

Extracting time from time field and putting it in a new column

In [ ]:
train['date_time'] = train['date_time'].astype('string')
time = []

for field in train['date_time']:
    time.append(int(field[-5:-3]))
train['time'] = time

valid['date_time'] = valid['date_time'].astype('string')
time = []

for field in valid['date_time']:
    time.append(int(field[-5:-3]))
valid['time'] = time
train.head()

,id,traffic_volume,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,isHoliday,time
0,0,5977.718652,nan,334.271282,7.077448,2.175000,40,1.0,scattered clouds,02-10-2012 09:00,0,9
1,1,4868.417932,nan,335.523582,5.055320,7.612501,75,1.0,broken clouds,02-10-2012 10:00,0,10
2,2,5139.005377,nan,335.778680,8.088512,3.262500,90,1.0,overcast clouds,02-10-2012 11:00,0,11
3,3,5418.217122,nan,336.416425,6.066384,8.700001,90,1.0,overcast clouds,02-10-2012 12:00,0,12
4,4,5301.789059,nan,337.587557,5.055320,13.050001,75,1.0,broken clouds,02-10-2012 13:00,0,13

Creating model

In [ ]:
features = ['isHoliday', 'rain_1h', 'snow_1h', 'weather_main', 'time', 'clouds_all']
X = train[features]
y = train.traffic_volume

train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)

model = keras.Sequential([
    layers.Dense(512, activation='relu', input_shape=[6]),
    layers.BatchNormalization(),
    layers.Dense(512, activation='relu'),
    layers.BatchNormalization(),
    layers.Dense(512, activation='relu'),
    layers.BatchNormalization(),
    layers.Dense(1),
])

model.compile(
    optimizer='adam',
    loss='mae',
)

early_stopping = tf.keras.callbacks.EarlyStopping(
    min_delta= 0.005,
    patience= 10, 
    restore_best_weights=True,
)

history = model.fit(
    train_X, train_y,
    validation_data=(val_X, val_y),
    batch_size=100,
    epochs = 20,
    callbacks = [early_stopping],
    verbose = 1
)

Epoch 1/20
217/217 [==============================] - 5s 15ms/step - loss: 3479.0076 - val_loss: 3434.9543
Epoch 2/20
217/217 [==============================] - 3s 14ms/step - loss: 3357.5325 - val_loss: 3229.1655
Epoch 3/20
217/217 [==============================] - 3s 14ms/step - loss: 3110.2195 - val_loss: 2865.5115
Epoch 4/20
217/217 [==============================] - 3s 14ms/step - loss: 2748.4084 - val_loss: 2498.5605
Epoch 5/20
217/217 [==============================] - 3s 14ms/step - loss: 2286.8889 - val_loss: 1733.8541
Epoch 6/20
217/217 [==============================] - 3s 14ms/step - loss: 1757.2350 - val_loss: 1312.2812
Epoch 7/20
217/217 [==============================] - 3s 14ms/step - loss: 1265.2094 - val_loss: 969.9324
Epoch 8/20
217/217 [==============================] - 3s 14ms/step - loss: 963.5389 - val_loss: 876.5973
Epoch 9/20
217/217 [==============================] - 3s 14ms/step - loss: 861.6867 - val_loss: 858.3013
Epoch 10/20
217/217 [==============================] - 3s 14ms/step - loss: 813.6732 - val_loss: 944.8875
Epoch 11/20
217/217 [==============================] - 3s 14ms/step - loss: 789.3198 - val_loss: 855.2117
Epoch 12/20
217/217 [==============================] - 3s 14ms/step - loss: 775.8173 - val_loss: 789.2966
Epoch 13/20
217/217 [==============================] - 3s 13ms/step - loss: 765.6409 - val_loss: 787.2383
Epoch 14/20
217/217 [==============================] - 3s 14ms/step - loss: 753.7933 - val_loss: 850.7504
Epoch 15/20
217/217 [==============================] - 3s 14ms/step - loss: 760.6127 - val_loss: 810.7764
Epoch 16/20
217/217 [==============================] - 3s 14ms/step - loss: 756.6030 - val_loss: 766.0911
Epoch 17/20
217/217 [==============================] - 3s 14ms/step - loss: 759.5251 - val_loss: 748.6863
Epoch 18/20
217/217 [==============================] - 3s 14ms/step - loss: 749.7496 - val_loss: 850.8814
Epoch 19/20
217/217 [==============================] - 3s 14ms/step - loss: 743.6035 - val_loss: 835.6427
Epoch 20/20
217/217 [==============================] - 3s 15ms/step - loss: 740.3412 - val_loss: 764.8994

Predictions

In [ ]:
features = ['isHoliday', 'rain_1h', 'snow_1h', 'weather_main', 'time', 'clouds_all']
X_testing = valid[features]

pred = model.predict(X_testing)
pred.shape
pred = pred.reshape((19281))

603/603 [==============================] - 1s 2ms/step

Making it into a file

In [ ]:
output = pd.DataFrame({'id': valid.id,
                       'traffic_volume': pred})

output.to_csv('submission.csv', index = False)